{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Super Drogas.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}

{% block reset_link %}{{ protocol }}://localhost:8080/admin/password-reset/{{ uid }}/{{ token }}{% endblock %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}.

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Super Drogas team. :){% endblocktrans %}
{% endautoescape %}